@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredericka+the+Great&family=Sacramento&family=Stoke&display=swap');

:root {
    --beige: #fbf7f0;
    --teal: '#D9E4DD';
    --textcolor: #555555;
    --darktext: #9D9D9D;
    --lightertext: #CDC9C3;
}

/* background */
.paperbg {
    background: url(./img/paperbg.png);
    background-size: contain;
}

.menu {
    color: var(--teal);
}

.home {
    color: var(--teal);
}

.text {
    color: #555555;
    font-family: 'Concert One', cursive;
}

.bg {
    display: flex;
    justify-content: center;
}

.hello {
    font-family: 'Fredericka the Great', cursive;
    font-size: 105px;
}

.name {
    font-size: 19px;
    text-align: center;
}

.welcome {
    color: #555555;
    font-family: 'Stoke', serif;    
    font-size: 60px;
    text-align: center;
}

.submit {
    float: right;
}
