@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredericka+the+Great&family=Ibarra+Real+Nova:wght@500&family=Inconsolata:wght@500&family=Sacramento&family=Stoke&display=swap');

:root {
    --beige: #fbf7f0;
    --teal: '#D9E4DD';
    --textcolor: #555555;
    --darktext: #9D9D9D;
    --lightertext: #CDC9C3;
}

/* background */
.paperbg {
    background: url(./img/paperbg.png);
    background-size: contain;
}

.menu {
    color: var(--teal);
}

.home {
    color: var(--teal);
}

.text {
    color: #555555;
    font-family: 'Concert One', cursive;
}


.hello {
    font-family: 'Fredericka the Great', cursive;
    font-size: 105px;
}

.name {
    font-size: 19px;
    text-align: center;
}

.welcome {
    color: #D9E4DD;
    font-family: 'Stoke', serif;    
    font-size: 60px;
    text-align: center;
}

.stoke {
    font-family: 'Stoke', serif;
}

.ibarra {
    font-family: 'Ibarra Real Nova', serif;
}

/* projects */
.polaroid {
    padding: 25px;
    box-shadow: 1px 7px 7px rgb(187, 185, 185);
}

/* contact */

.submit {
    float: right;
}

.contactbox {
    background-color: #D9E4DD;
}

.inconsolata {
    font-family: 'Inconsolata', monospace;
}

.link {
    color: var(--darktext);
    opacity: 0.8;
}