@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Fredericka+the+Great&family=Ibarra+Real+Nova:wght@500&family=Inconsolata:wght@500&family=Sacramento&family=Stoke&display=swap');

:root {
    --beige: #fbf7f0;
    --teal: '#D9E4DD';
    --textcolor: #555555;
    --darktext: #9D9D9D;
    --lightertext: #CDC9C3;
}

/* background */
.paperbg {
    background: url(./img/paperbg.png);
    background-size: contain;
}

.menu {
    color: var(--teal);
}

.home {
    color: var(--teal);
}

.text {
    color: #555555;
    font-family: 'Concert One', cursive;
}


.hello {
    font-family: 'Fredericka the Great', cursive;
    font-size: 105px;
}

.name {
    font-size: 19px;
    text-align: center;
}

.welcome {
    color: #D4C6B4;
    font-family: 'Stoke', serif;    
    font-size: 60px;
    text-align: center;
}

.stoke {
    font-family: 'Stoke', serif;
}

.ibarra {
    font-family: 'Ibarra Real Nova', serif;
}

/* projects */
.polaroid {
    padding: 25px;
    box-shadow: 1px 7px 7px rgb(187, 185, 185);
}

/* contact */

.submit {
    float: right;
}

.contactbox {
    background-color: #D9E4DD;
}

.inconsolata {
    font-family: 'Inconsolata', monospace;
}

.link {
    color: var(--darktext);
    opacity: 0.8;
}

.hooksMain > div {
    position: absolute;
    will-change: transform;
    border-radius: 50%;
    background: lightcoral;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    opacity: 0.6;
  }
  
  .hooksMain > div:nth-child(1) {
    width: 60px;
    height: 60px;
  }
  
  .hooksMain > div:nth-child(2) {
    width: 125px;
    height: 125px;
  }
  
  .hooksMain > div:nth-child(3) {
    width: 75px;
    height: 75px;
  }
  
  .hooksMain > div::after {
    content: '';
    position: absolute;
    top: 20px;
    left: 20px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.8);
  }
  
  .hooksMain > div:nth-child(2)::after {
    top: 35px;
    left: 35px;
    width: 35px;
    height: 35px;
  }
  
  .hooksMain > div:nth-child(3)::after {
    top: 25px;
    left: 25px;
    width: 25px;
    height: 25px;
  }
  
  .hooksMain {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: url('#goo');
    overflow: hidden;
    background: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: default;
  }
  